main {min-height: 80vh; width: 100%;
  background-color: #041C32
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
  letter-spacing: 0.2px;
  font-family: 'Kumbh Sans', sans-serif;
  color: #fff
}

h2{
  font-size: 60px;
  letter-spacing: 0.2px;
  font-family: 'Kumbh Sans', sans-serif;
  color: #C5D5E4;
}

h3{
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: #ECB365;
  font-weight: 600;
  padding-bottom: 14px;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight:500; 
}

h5 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: 700; 
}

p{
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: #99b5cf;
  font-weight:500; 
  letter-spacing: normal;
  padding-top: 20px;
}

li{
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: #99b5cf;
  font-weight:600; 
  letter-spacing: normal;
  padding: 5px;
}

a{
  color: #ECB365; 
  text-decoration: none
}

a:hover{
  color: #ECB365; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HOME PAGE  */


.homepageContainer{
  padding-top: 270px;
}

.gapBetweenMainDivs{
  padding-bottom: 130px;
}

.introContainer{
  padding-left: 80px;
  padding-right: 180px;
}

.contentContainer{
  padding-left: 110px;
  padding-right: 150px;
}

.contentNumbers{
  color: #ECB365;
  font-size: 19px;
}

.aboutDiv{
  border: 1px solid #f2cc98;
  border-top: #041C32;
  border-right: #041C32;
  border-bottom: #041C32;
  padding-left: 30px;
}

.experienceContentDiv{
  border: 1px solid #f2cc98;
  border-top: #041C32;
  border-left: #041C32;
  border-bottom: #041C32;
  width: 64%;
  margin-left: 140px;
}

.experienceDiv{
  padding-left: 30px;
}

.experienceHeading{
  font-size: 18px;
  padding-top: 30px
}

.experienceSubHeading{
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: #99b5cf;
  font-weight: normal; 
  padding-top: 0;
}





/* END HOME PAGE  */

/* HEADER NAVBAR */

.headerImage{
  height: 50px;
  width: 50px;
}

.headerLinks{
  cursor: pointer;
  text-decoration: none;
}

.headerText{
  margin-bottom: 0;

}

.numberColor{
  font-size: 14px;
  color: #ECB365;
}

.headerText:hover{
 color: #808589
}

.navbar-brand{
  padding: 0;
}

.toggler.navbar-toggler{
  border: none
}


.navbar-toggler:focus{
  border: none;
  box-shadow: none;
  
}

.headerNavBarMainContainer{
  background-color: #041C32;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

a.active.nav-link{
  padding-top: 0;
  padding-bottom: 0;
}

#responsive-navbar-nav{
  margin-top: 12px;
}

/* tablets */

@media  (max-width: 991px) {
  a.active.nav-link{
    padding-top: 8px;
    padding-bottom: 8px;
  }
}


/* END HEADER  */

/*  SOCIALLINKS */

.socialLinksContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialLinks{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

/* END SOCIALLINKS */


/* FOOTER */

.footerMain{
  padding-top: 30px;
  background-color: #041C32;
  padding-bottom: 30px;
}

.footerText{
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight:700; 
  letter-spacing: normal;
  padding-top: 10px;
  margin-bottom: 0;
  text-align: center;
}


/* END FOOTER  */



