main {min-height: 80vh; width: 100%;
  background-color: #041C32
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
  letter-spacing: 0.2px;
  font-family: 'Kumbh Sans', sans-serif;
  color: #fff
}

h2{
  font-size: 60px;
  letter-spacing: 0.2px;
  font-family: 'Kumbh Sans', sans-serif;
  color: #C5D5E4;
}

h3{
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: #ECB365;
  font-weight: 600;
  padding-bottom: 14px;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight:500; 
}

h5 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: 700; 
}

p{
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: #99b5cf;
  font-weight:500; 
  letter-spacing: normal;
  padding-top: 20px;
}

li{
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: #99b5cf;
  font-weight:600; 
  letter-spacing: normal;
  padding: 5px;
}

a{
  color: #ECB365; 
  text-decoration: none
}

a:hover{
  color: #ECB365; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media  (max-width: 1024px) {
  h1{
    font-size: 40px;
  }

  h2{
    font-size: 40px;
  }

  h3{
    font-size: 14px;
  }

  h5{
    font-size: 20px;
  }

  p{
    font-size: 14px;
  }

  li{
    font-size: 12px;
  }
  
}

@media  (max-width: 414px) {


  h1{
    font-size: 30px;
  }

  h2{
    font-size: 30px;
  }
  
  p{
    font-size: 12px;
  }

  
}

/* HOME PAGE  */

.homepageContainer{
  padding-top: 270px;
}

.gapBetweenMainDivsAbout{
  padding-bottom: 150px;
}

.gapBetweenMainDivsExp{
  padding-bottom: 150px;
}

.gapBetweenMainDivsPort{
  padding-bottom: 150px;
}

.introContainer{
  padding-left: 80px;
  padding-right: 180px;
}

.contentContainer{
  padding-left: 110px;
  padding-right: 150px;
}

.contentNumbers{
  color: #ECB365;
  font-size: 19px;
}

.aboutDiv{

  padding-left: 30px;
}

.imagePad{
  padding-top: 20px;
  padding-left: 20px;
}



.centerMainHeading{
  width: 64%;
  margin-left: 140px;
  padding-right: 30px;
  text-align: center;
}

.experienceContentDiv{

  width: 64%;
  margin-left: 140px;
  padding-right: 30px;
}

.experienceDiv{
  padding-left: 30px;
}

.experienceHeading{
  font-size: 18px;
  padding-top: 30px
}

.experienceSubHeading{
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: #99b5cf;
  font-weight: normal; 
  padding-top: 0;
}

.gapBetweenPortFolioDivs{
  padding-bottom: 50px;
}



.portfolioContentDiv{
  width: 64%;
  margin-left: 140px;
  padding-right: 30px;
}



.portfolioDiv{
  padding-left: 30px;
}

.portFolioHeading{
  font-size: 18px;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}



.borderSlideShow{
  border: 1px solid #f2cc98;
  border-radius: 4px;
}


.videoContentDiv{
  width: 64%;
  margin-left: 125px;
  padding-right: 30px;

}

.gapBetweenPortFolioProjects{
  padding-bottom: 200px;
}

.portFolioHeadingAir{
  font-size: 18px;
  
  padding-bottom: 50px;
  text-align: center;
}


.getInTouchHeading{
  width: 64%;
  margin-left: 130px;
  text-align: center;
  padding-top: 40px;
}

.getInTouchPara{
  width: 64%;
  margin-left: 130px;
  text-align: center;
  padding-top: 40px;
}


.centerButtonDiv{
  width: 64%;
  margin-left: 140px;
  padding-right: 30px;
  text-align: center;
  padding-top: 30px;
}

.bottomContainer
{padding-bottom: 150px}


@media  (max-width: 1536px) {
  .introContainer{
    padding-left: 150px;
    padding-right: 140px;
  }

  .contentContainer{
    padding-left: 160px;
    padding-right: 100px;
  }
  
}

@media  (max-width: 1440px) {
  .introContainer{
    padding-left: 170px;
    padding-right: 120px;
  }

  .contentContainer{
    padding-left: 180px;
    padding-right: 80px;
  }
  
}

@media  (max-width: 1024px) {

  .portfolioDiv{
    padding-left: 0;
  }

  .introContainer{
    padding-left: 90px;
    padding-right: 120px;
  }

  .contentContainer{
    padding-left: 100px;
    padding-right: 40px;
  }

  .contentNumbers{
    color: #ECB365;
    font-size: 14px;
  }

  .imagePad{
    padding-top: 22px;
    padding-left: 20px;
  }

  .experienceDiv{
    padding-left: 0;
  }

  .experienceHeading{
    font-size: 14px;
  
  }

  .experienceSubHeading{
    font-size: 14px;
  }

  .centerMainHeading{
    margin-left: 115px;
  }

  .portFolioHeading{
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .videoContentDiv{
    padding-right: 0;
  }

  .gapBetweenPortFolioProjects{
    padding-bottom: 100px;
  }

 

  .portFolioHeadingAir{
    padding-bottom: 45px;
  }

  .getInTouchHeading{
    font-size: 38px;
    margin-left: 110px
  }

  .getInTouchPara{
    margin-left: 110px
  }

  .centerButtonDiv{
    margin-left: 120px
  }

}

@media  (max-width: 660px) {

 

  .introContainer{
    padding-left: 120px;
    padding-right: 80px;
  }
}

@media  (max-width: 601px) {
  .homepageContainer {
    padding-top: 200px;
  }

 .centerMainHeading{
  
  margin-left: 20px;
  width: 80%;
  text-align: center;
}


.experienceContentDiv{
  margin-left: 20px;
  padding-right: 0
}

.portfolioContentDiv{
  margin-left: 45px;
  padding-right: 0;
}

.videoContentDiv{
  margin-left: 45px;
}

.getInTouchHeading{
  margin-left: 40px
}

.getInTouchPara{
  margin-left: 40px
}

.centerButtonDiv{
  margin-left: 55px
}
}

@media  (max-width: 414px) {

  .introContainer{
    padding-left: 80px;
    padding-right: 60px;
  } 

  .contentContainer{
    padding-left: 50px;
  }

  .gapBetweenMainDivsAbout{
    padding-bottom: 60px;
  }
  
  .gapBetweenMainDivsExp{
    padding-bottom: 60px;
  }
  
  .gapBetweenMainDivsPort{
    padding-bottom: 60px;
  }

  .imagePad{
    padding-bottom: 20px;
    padding-left: 0px;
  }

  .centerMainHeading{
    padding-right: 0;
    padding-left: 30px;
    margin-left: 10px;
    width: 100%;
    text-align: left;
  }

  .experienceContentDiv{
    width: 100%;
    margin-left: 30px
  }

  .portFolioHeading{
    text-align: left;
    font-size: 14px;
  }

  .gapBetweenPortFolioDivs{
    padding-bottom: 0;
  }

  .videoContentDiv{
    width: 80%;
  }

  .gapBetweenPortFolioProjects{
    padding-bottom: 60px;
  }

  .getInTouchHeading{
    font-size: 26px;
    margin-left: 40px;
    padding-top: 20px;
  }

  .getInTouchPara{
    padding-top: 10px;
    margin-left: 30px;
  }

  .centerButtonDiv{
    margin-left: 45px
  }

  .bottomContainer
{padding-bottom: 40px}
  
}
 
@media  (max-width: 375px) {

  .homepageContainer {
    padding-top: 130px
  }

  .introContainer{
    padding-left: 40px;
    padding-right: 60px;
  } 

  li{
    font-size: 12px;
    padding-left: 15px;
  }

  .portFolioHeadingAir{
    font-size: 16px;
  }

  .portfolioContentDiv{
    margin-left: 60px;
  }

  .cardContainer{
    margin-left: 70px !important;
  }
}

@media  (max-width: 360px) {

  h1{
    font-size: 24px;
  }
  
  h2{
    font-size: 24px;
  }
  
  .homepageContainer {
    padding-top: 125px
  }
  }


@media  (max-width: 320px) {

  h1{
    font-size: 24px;
  }

  h2{
    font-size: 24px;
  }

  .homepageContainer {
    padding-top: 125px
  }

  
  }


 

/* END HOME PAGE  */


/* CARDS COMPONENT  */

.card{
  width: 30%;
}

.cardBetween{
  padding: 0 50px 0 50px;
}
.card:hover{
   transform: scale(1.5);
   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin-left: 20%;
}

.gapBetweenCardVertical{
  padding-bottom: 100px;
}


@media  (max-width: 1024px) {

.cardContainer{
  margin-left: 160px !important
}
}

@media  (max-width: 601px) {

  .cardContainer{
    margin-left: 80px !important
  }
  }


  @media  (max-width: 414px) {

    .cardBetween{
      padding: 0 20px 0 20px;
    }
    
    .card:hover{
      transform: scale(3);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
   }

   .cardContainer{
    margin-left: 63px !important;
   }
  }




/* END CARDS COMPONENT  */


/* SEND-MODAL COMPONENT */

.messageButton{
  border: 1px solid #f2cc98;
  background-color: #041C32;
  color: #f2cc98;
  text-align: center;
  padding: 10px 15px 10px 15px;
}

.messageButton:hover{
  background-color: #041C32 !important;
  border: 1px solid #fff !important;
  color: #fff;
}

.modal-content{
  padding: 30px;
}

label.form-label{
  font-size: 18px;
  font-family: 'Questrial', sans-serif;
  color: #e69c37;
}

.form-control{
  border: 1px solid #f2cc98;
}


.centerText{
  text-align: center;
}

.errorMessageText{
  color: #e69c37;
}


@media  (max-width: 1024px) {
  .messageButton{
    font-size: 14px;
    padding: 8px 13px 8px 13px
  } 
}


/* END SEND-MODAL */

/* HEADER COMPONENT*/

.navImageButton{
  background-color: #041C32;
  border: none;
}

.headerImage{
  height: 50px;
  width: 50px;
}

.headerLinks{
  cursor: pointer;
  text-decoration: none;
}

.headerText{
  margin-bottom: 0;

}

.numberColor{
  font-size: 14px;
  color: #ECB365;
}

.headerText:hover{
 color: #808589
}

.navbar-brand{
  padding: 0;
}

.toggler.navbar-toggler{
  border: none
}


.navbar-toggler:focus{
  border: none;
  box-shadow: none;
  
}

.headerNavBarMainContainer{
  background-color: #041C32;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;

}

a.active.nav-link{
  padding-top: 0;
  padding-bottom: 0;
}

#responsive-navbar-nav{
  margin-top: 12px;
}

@media  (max-width: 1024px) {
  .navMobile{
    margin-left: 50%;
  }

  .headerText{
    font-size: 12px;
  }
}

@media  (max-width: 414px) {
  .navMobile{
    margin-left: 40%;
  }
}

/* END HEADER  */

/* PLAYER  */

.player {
  width: 100% !important;
  height: auto;
}

/* END PLAYER  */


/* LEFTLINKSBAR  */
.LeftLinksBar{
  background-color: #041C32;
  width: 10%;
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.displayVertical{
  display: block
}

.socialLinkButtons{
  background-color: #041C32;
  border-color: #041C32;
  padding: 10px;
  text-align: left;
  margin: 0
}

.socialLinkButtons:hover{
  background-color: #041C32 !important;
  border-color: #041C32 !important;
}

.LeftLinksBar.navbar.navbar-expand.navbar-custom.fixed-bottom{
  padding-left: 50px;
  padding-bottom: 0;
}

.LeftLinksBarLine{
  height: 80px;
  border: 1px solid #f2cc98;
  border-left-color: #041C32;
  border-top-color: #041C32;
  border-bottom-color: #041C32;
  width: 50%;
}

@media  (max-width: 1536px) {
  .LeftLinksBar.navbar.navbar-expand.navbar-custom.fixed-bottom{
    padding-left: 20px;
    padding-bottom: 0;
  }
}
@media  (max-width: 660px) {
  .LeftLinksBar.navbar.navbar-expand.navbar-custom.fixed-bottom{
    padding-left: 0;
    padding-bottom: 0;
  }
}


@media  (max-width: 601px) {
  .btn-group-vertical {
    width: 50% !important
  }  
}


@media  (max-width: 414px) {
  .LeftLinksBar{
    padding-left: 0 !important;
  } 

  .LeftLinksBarLine{
    width: 38%;
  }
 
}

@media  (max-width: 375px) {

  .socialLinkButtons{
    padding: 15px;
  }

  .LeftLinksBarLine{
    height: 20px;
}
}

@media  (max-width: 320px) {

  .socialLinks{
    padding-left: 0 !important;
  }
 
  .LeftLinksBarLine{
    
    border-right-color: #041C32;
}
  }

/* END LEFTLINKSBAR */




/* SOCIAL-LINKS COMPONENT*/

.socialLinksContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 64%;
  margin-left: 170px;
}

.socialLinks{
   font-size: 16px;
   margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  font-weight:400; 
  line-height: 0px;
  height: auto;
  color: #ECB365;
}


@media  (max-width: 375px) {

  .socialLinks{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media  (max-width: 414px) {
  .socialLinks{
    padding-left: 20px;
 
  } 
 
}


/* END SOCIAL-LINKS */


/* FOOTER COMPONENT*/

.footerMain{
  padding-top: 30px;
  background-color: #041C32;
  padding-bottom: 30px;
}

.footerText{
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight:700; 
  letter-spacing: normal;
  padding-top: 10px;
  margin-bottom: 0;
  text-align: center;
  width: 64%;
  margin-left: 180px;
}


/* desktop */

@media  (max-width: 1536px) {
  .footerText{
    margin-left: 230px;
  }
}

@media  (max-width: 1440px) {
    .footerText{
      margin-left: 250px;
    }

  }

  @media  (max-width: 1024px) {
    .footerText{
      font-size: 14px;
      margin-left: 175px;
    }

  }

  @media  (max-width: 601px) {
    .footerText{
      margin-left: 115px
    }

  }

  @media  (max-width: 414px) {
    .footerText{
      font-size: 11px;
      margin-left: 60px
    }

  }

  

 
/* END FOOTER  */



